<html>
	<head>
		<link rel="stylesheet" type="text/css" href="button.css">
	</head>
	<body>
		<h1>Button :</h1>
		
			<div>
				<a href="#" class="btn btn-mini"  value="">mini</a>
			</div>
			<br>
			<div>
				<a href="#" class="btn"  value=""/>btn</a>
			</div>
			<br>
			<div>
				<a href="#" class="btn btn-large"  value=""/>large</a>
			</div>
			<br>
			<div>
				<a href="#" class="btn btn-long"  value=""/>long</a>
			</div>
			<br>
			<div>
				<a href="#" class="btn btn-success"  value=""/>success</a>
			</div>
			<br>
			<div>
				<a href="#" class="btn btn-error"  value=""/>error</a>
			</div>
			<br>
			<div>
				<a href="#" class="btn btn-warning"  value=""/>warning</a>
			</div>
			<br>
			<div>
				<a href="#" class="btn btn-submit"  value=""/>submit</a>
			</div>
	</body>
</html>