<!DOCTYPE html>

<html lang="en">

    <head>

        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="author" content="jQer"/>
        <title>Eui Demo</title>
        <link type="text/css" rel="stylesheet" href="data-plugin.css" />
        <script src="js/data-plugin.js"></script>
    </head>

    <body>
        <div id="main">
            <p id="">
                <label for="birthday">您的出生日期</label><br />
                <input type="text" id="birthday" name="birthday" value="" />
            </p>
        </div>

    </body>

</html>
