<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="input.css">
	</head>
	<body>
		<h4>type:text</h4>
			<input type="text" class="input-text" />
		<h4>user name</h4>
		<div class="input-uname">
			<label for="userName" class="inputTip">用户名</label>
			<input type="text" id="userName" />
			<!-- <span></span> -->
		</div>
		<h4>user password</h4>
		<div class="input-upassword">
			<label for="userPassword" class="inputTip">密码</label>
			<input type="password" id="userPassword"  />
			<!-- <span></span> -->
		</div>
	</body>
</html>