<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="table.css">
	</head>
	<body>	
		<h2>Table表格 :</h2>
		<center>
			<table class="table" >
				<thead class="top-panel">
					<th colspan="6">Table Head</th>
				</thead>
				<tbody>
					<tr>
						<td>

						</td>
						<td></td>
						<td>Some data</td>
						<td>Some data</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Some data</td>
						<td>Some data</td>
						<td></td>
						<td>Some data</td>
						<td></td>
						<td>Some data</td>
					</tr>
					<tr>
						<td>Some data</td>
						<td></td>
						<td>Some data</td>
						<td></td>
						<td>Some data</td>
						<td>Some data</td>
					</tr>
					<tr>
						<td>Some data</td>
						<td></td>
						<td>Some data</td>
						<td>Some data</td>
						<td></td>
						<td>Some data</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</center>
	</body>
</html>