
<html !DOCTYPE html >
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="ul.css">
	</head>
	<body>	
		<h2>以ul创建的导航栏 :</h2>
		<h3>横向导航栏 :</h3>
		<center>
			<div>
				<ul class="nav">
					<li><a href="#">Home Page</a></li>
					<li><a href="#">First Address</a></li>
					<li><a href="#">Second Address</a></li>
					<li><a href="#">Third Address</a></li>
					<li><a href="#">Four Address</a></li>
					<li><a href="#">Five Address</a></li>	
					<li><a href="#">Six Address</a></li>
				</ul>
			</div>
		</center>
		<h3>纵向导航栏 :</h3>
		<center>
			<div>
				<ul class="nav-vertical">
					<li><a href="#">Home Page</a></li>
					<li><a href="#">First Address</a></li>
					<li><a href="#">Second Address</a></li>
					<li><a href="#">Third Address</a></li>
					<li><a href="#">Four Address</a></li>
					<li><a href="#">Five Address</a></li>	
					<li><a href="#">Six Address</a></li>
				</ul>
			</div>
		</center>
	</body>
</html>